<!DOCTYPE html>
<html>
<head>
  <title>Rails for Designers</title>
  <%= stylesheet_link_tag    "common" %>
</head>
<body>
  <% unless request.path.eql? "/" %><h1>Rails for Designers</h1><% end %>
  
  <%= yield %>

  <%= render :partial => 'layouts/footer' %>
</body>
</html>
