<!DOCTYPE html>
<html>
<head>
  <title>Rails for Designers</title>
  <%= stylesheet_link_tag    "common" %>
  <%# javascript_include_tag "application" %>
</head>
<body>

<%= yield %>

</body>
</html>
